.router-link-active {
  background: #001529;
  ::ng-deep .ant-list-item-meta-title {
    color: white;
  }
}

.ant-badge {
  float: right;
}

.chat-list {
  width: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  float: left;
  overflow-y: auto;
  height: 93vh;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}
