<div>
  <div *ngFor="let item of [1, 1, 1, 1, 1, 1, 1, 1]" class="skeleton">
    <nz-skeleton
      [nzAvatar]="true"
      [nzActive]="true"
      [nzTitle]="false"
      [nzLoading]="loading"
    >
    </nz-skeleton>
  </div>
  <nz-list
    class="chat-list"
    [nzDataSource]="chatList$ | async"
    [nzItemLayout]="'horizontal'"
    [nzRenderItem]="item"
    [nzBordered]="true"
  >
    <ng-template #item let-item>
      <nz-list-item
        [routerLink]="['/chats']"
        [queryParams]="{ chatId: item.chatId }"
        routerLinkActive="router-link-active"
        [nzActions]="[description]"
      >
        <nz-list-item-meta
          routerLinkActive="router-link-active"
          [nzTitle]="item.mockerName"
          nzAvatar="{{ item.imageLink }}"
        >
          <ng-template #description>
            <nz-badge
              [nzCount]="item.newMessageCount"
              [nzStyle]="{ backgroundColor: '#001529' }"
            ></nz-badge>
          </ng-template>
        </nz-list-item-meta>
      </nz-list-item>
    </ng-template>
  </nz-list>
</div>
