.message {
  position: fixed;
  bottom: 0;
  width: 35%;
  padding-bottom: 3px;
}

.chats {
  display: flex;
  flex-direction: column-reverse;
  float: left;
  overflow-y: auto;
  height: 93vh;
  padding-bottom: 35px;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .chats {
    height: 85vh;
    margin-top: 33px;
  }
  .message {
    width: 100%;
  }
}

.name-header {
  position: absolute;
  z-index: 1;
}

nz-page-header {
  padding: 6px 12px;
}

::-webkit-scrollbar {
  display: none;
}

.chat-text {
  // border: 1px solid;
  margin: 10px;
  background: skyblue;
  // color: white;
  max-width: 80%;
  border-radius: 5px;
  padding: 0px 5px 0px 5px;
}

.pull-right {
  float: right;
}
.pull-left {
  display: inline-block;
  // width: 100%;
  // text-align: left;
}

.date-right {
  float: right;
  font-size: 10px;
  line-height: 44px;
  margin: 0px;
}

.date-left {
  display: inline;
  font-size: 10px;
  line-height: 44px;
  margin: 0px;
}

::ng-deep .ant-layout-sider-zero-width-trigger {
  z-index: 9999;
}

.send-button {
  padding-left: 3px;
}

.text-area {
  padding: 0px 3px 0px 5px;
}
