<nz-card
  style="width: 300px;margin-top: 16px"
  [nzActions]="[actionManage, actionEdit, actionMessage]"
>
  <nz-skeleton
    [nzActive]="true"
    [nzLoading]="loading"
    [nzAvatar]="{ size: 'large' }"
  >
    <nz-card-meta
      [nzAvatar]="avatarTemplate"
      nzTitle="{{ profile?.name }}"
      nzDescription="@{{ profile?.userName }}"
    ></nz-card-meta>
  </nz-skeleton>
</nz-card>
<ng-template #avatarTemplate>
  <nz-avatar
    nzSrc="https://image.flaticon.com/icons/png/128/149/149071.png"
  ></nz-avatar>
</ng-template>
<ng-template #actionManage>
  <em nz-icon type="user-add"></em>
</ng-template>
<ng-template #actionEdit>
  <em nz-icon type="edit"></em>
</ng-template>
<ng-template #actionMessage>
  <em nz-icon type="message" (click)="startConversation()"></em>
</ng-template>
